body {
    width: 100%;
    margin: 0px;
}

header {
    height: 160px;
    background-image: url("img/pattern.png");
    background-color: rgba(32,169,229,255);
    background-size: 650px; 
}

main, footer {
    margin-left: 10px;
    margin-right: 760px;
}

#the_booleaner {
    height: 100px;
    position: relative;
    top: 55px;
}

a {
    text-decoration: none;
}

h1 {
    margin-bottom: 0px;
    font-size: 50px;
}

h2 {
    margin: 0px;
    font-size: 20px;
}

h3 {
    margin-top: 0px;
    font-size: 14px;
}

h2,h3 {
    color: grey;
}

.note_photo {
    font-size: 14px;
    margin: 0px;
}

ul {
    padding-left: 20px;
}

table {
    border-collapse: collapse;
    text-align: left;
  }

.cellestrette {
    width: 250px;
}

.table_celeste {
    background-color: rgba(177,229,242,255);
}

.thead_lorem {
    color: white;
    background-color: rgba(32,169,229,255);
}

h4 {
    font-size: 20px;
    color: grey;
    margin-bottom: 10px;
}

#interest1 {
    background-image: url("img/monitor.jpg");
    margin-bottom: 10px;
}

#interest2 {
    background-image: url("img/graph.jpg");
}

.interests {
    width: 220px;
    height: 150px;
    padding: 20px 20px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    background-size: cover;
    background-position: center;
}

