body {
    width: 1100px;
}

#title {
    height: 160px;
    background-image: url("img/pattern.png");
    background-color: rgb(101, 199, 255);
    background-size: 650px;
    display: inline-block; 
}

#the_booleaner {
    height: 100px;
    position: relative;
    top: 55px;
}

a {
    text-decoration: none;
}

h1 {
    margin-top: 70px;
    margin-bottom: 0px;
}

h2 {
    margin: 0px;
    font-size: 20px;
}

h3 {
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 14px;
}

h2,h3 {
    color: grey;
}

.note_photo {
    font-size: 14px;
    margin: 0px;
}
.thead_lorem {
    color: white;
    background-color: rgb(101, 199, 255);
}

#interest1 {
    background-image: url("img/monitor.jpg");
    width: 200px;
    height: 200px;
}