body {
    width: 100%;
    margin: 0px;
}

header {
    background-image: url("img/pattern.png");
    background-color: rgba(32,169,229,255);
    padding: 70px 0 10px 10px;
    margin-bottom: 15px;
}

#textbooleaner{
    width: 400px;
}

main, footer {
    padding: 0px 150px;
}

h1, h3, h5{
    margin: 0px;
}

a {
    text-decoration: none;
}

h3, h4, h5 {
    color: grey;
}

h5 {
    margin-bottom: 20px;
}

.note_photo{
    font-size: 12px;
    margin: 0px;
}

.evidenzia {
    background-color: yellow;
}

table {
    border-collapse: collapse;
    text-align: left;
  }

ul {
    padding-left: 20px;
}

.thead_lorem {
    color: white;
    background-color: rgba(32,169,229,255);
}

.cellestrette {
    width: 300px;
}

.table_celeste {
    background-color: rgba(177,229,242,255);
}

h4 {
    margin-bottom: 10px;
}

.container{
    width: 312px;
    height: 208px;
    background-repeat: no-repeat;
    color: white;
    padding: 20px 20px 0px;
    font-size: 22px;
    font-weight: bolder;
}

#foto_footer1 {
    background-image: url("img/monitor.jpg");
}

#foto_footer2 {
    background-image: url("img/graph.jpg");
}